.item-title {
  margin-top: 15px;
  font-size: 19px;

  @media (max-width: 450px) {
    font-size: 17px;
  }

  &--link {
    color: var(--clr-very-dark-grayish-cyan);
    transition: color 0.1s ease-out;
    cursor: pointer;

    &:hover {
      color: var(--clr-desaturated-dark-cyan);
    }
  }
}
