.item-logo {
  width: 88px;
  margin-right: 30px;
  cursor: pointer;

  & img {
    max-width: 100%;
  }

  @media (max-width: 600px) {
    width: 65px;
    height: 55px;
    transform: translateY(-50%);
  }
}
